@import url(./variables.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    background-image: url(../assets/earth_from_space.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    
    z-index: -1;

    color: white;
}

header {
    height: 70px;

    padding: 0px 30px;
    background: var(--main-bg-color);
    z-index: 5;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    margin-top: 10px;
}

h1 {
    margin-top: 5px;
    transition-duration: 0.5s;
    font-size: 28px;
}

h1:hover {
    font-size: 35px;
    cursor: pointer;
} 

#favorites, #search-input, #log-out {
    margin-top: 13px;
}

#favorites, #log-out {
    cursor: pointer;
}

#favorites:hover, #log-out:hover {
    text-decoration: underline;
}

#search-input {
    width: 200px;
    padding: 5px 0px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    transition-property: width;
    transition-duration: 0.5s;
    text-align: center;
}

#search-input:hover {
    width: 250px;
}

.keyboard-icon-wrapper{
    position: absolute;
}

.keyboard-icon {
    padding-top: 20px;
    padding-right: 40px;
}

tbody {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    margin: 50px;
    z-index: 5;
    padding: 10px;
}

tbody tr td {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 10px; */
}

tbody tr {
    box-shadow: var(--main-box-shadow);
    /* background-color: var(--main-bg-color); */
}

.flag-img {
    width: 100vw;
}

.country {
    cursor: pointer;
    /* transition-duration: 0.5s; */
    /* padding: 10px; */
}

/* .country:hover {
    width: 250px;
} */

.bookmarkIcon {
    display: flex;
    justify-content: space-between;
}

