* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.key {
    font-style: italic; 
}

.value {
    font-size: 20px;
    color:white;
    word-wrap:break-word;
}

tbody {
    margin-top: 70px;
    display: flex!important;
}

.info-wrapper{
    box-shadow: none !important;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
}

.key:hover, .value:hover {
    cursor: pointer;
    color: black;
} 

